body{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height : 6rem;
}

.fa-compass{
    font-size: 2rem;
    color: #fe424d;
}

.logo{
    display: flex;
    align-items: center;
    text-align: center;
}

.logo-text{
    font-size: 1rem;
    color: #fe424d;
    margin-top: 1rem;
    font-weight: bold;
    margin-left: 0.12rem;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-brand, .f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height : 2.5rem;
}

.f-info-socials i{
    font-size : 1.2rem;
    margin-right : 1rem;
}

.f-info{
    height : 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
}

/* cards */
.listings-card{
    border: none !important;
    margin-bottom: 1rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    object-fit: cover !important;
    width: 100% !important;
}

.card-body{
    padding: 0rem !important;
}

.card-text p{
    font-weight: 400;
}

.card a{
    text-decoration: none;
    color: inherit;
}

.listing-link {
    text-decoration: none;
    color: inherit;
}

/* card effects */
.card-img-overlay {
    opacity : 0;
}
.card-img-overlay:hover {
    opacity : 0.1;
    background-color: white;
}

/* new listing */
.add-btn{
    background-color: #fe424d !important;
    color : white !important;
    border: none !important;
}

/* edit page */
.edit-btn{
    background-color: #fe424d !important;
    color : white !important;
    border: none !important;
}

/* show page */
.show-btns {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

/* index.ejs */
#filter {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filters{
        text-align: center;
        margin-right: 2rem;
        opacity: 0.7;
    }
    .filters:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filters p{
        margin: 0;
        font-size: 0.9rem;
    }
    .tax-toggle{
        margin-left: auto;
        font-size: 0.9rem;
        height: 3rem;
        padding:  1rem;
        border-radius: 0.75rem;
        display: flex;
        border: 1.5px solid gray;
        align-items: center;
    }
    .tax-data{
        display: none;
    }

/* search bar */
.search {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-input {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 400px;
}

.search-btn {
    background-color: #fe424d;
    color: white;
    border: none;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-btn:hover {
    background-color: #fe424d;;
    color: white;
}

.form-select{
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: white;
    color: black;
}

.show-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

